input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] { min:0;
    -moz-appearance:textfield;
} 
 
/*@import url(//fonts.googleapis.com/css?family=Tangerine|Oswald:400,300,700|Alegreya+Sans:100,300|Roboto:300,400,500|Josefin+Sans:400,600,300);*/
@import url(//fonts.googleapis.com/css?family=Tangerine|Oswald|Alegreya:100,300|Josefin:300,400,600|Roboto:300,400,500|-apple-system,system-ui,BlinkMacSystemFont);

*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }

/*--Fonts--*/
.text-label {font-family:'Oswald', sans-serif; color:#333333; font-weight:400; padding-top:10px;}
h4 {font-family: 'Oswald', sans-serif;}

#table thead th { font-size:15px; color:#000000; background-color:#EAEAEA;  font-family:'Oswald', sans-serif; font-weight:400;  line-height:30px; }
#table .groupHead td { text-align:center; font-family:'Oswald', sans-serif; font-size:18px !important;  line-height:30px; }
#table .subHead td { text-align:left;font-family:'Oswald', sans-serif; padding-left:3%; line-height:30px; }
#table .totalHead td { text-align:right;font-family:'Oswald', sans-serif; font-size:15px; background-color:#F2F9FF; color:#31708F; padding-left:3%; line-height:30px; }
#table tbody tr:hover{ background-color:#EAEAEA; }
#table tbody tr {cursor:pointer;}
.mainHeadSearch {padding:0;padding-right:1.3%;padding-top:0.4%;}
.mainHead {padding:2.5%; color:white;margin:0;padding-right:5%; font-family:'Oswald', sans-serif;}
.visaMainHeard {margin:0;color:white; padding:0; text-align:center; text-transform:uppercase;}
.total { text-align:right; padding-right:5%; }
.total {padding-right:5%; font-size:16px; text-transform:normal; font-family:'Oswald', sans-serif; }
.subTotal {word-spacing:40px; padding-left:3%; font-size:16px; font-family:'Oswald', sans-serif; text-align: right;}

.panelH4 {font-family:'Oswald', sans-serif;padding:0; padding-left:5%; color:white; }
/*.mainOne { width: 100%; background-image:url(../images/top-strip-bg.png); }*/
.mainOne { width: 100%; }
.max-width { max-width: 1210px; padding: 0 20px; margin: 0 auto; } /*.max-width { width: 95%; padding: 0 3% 0 0; margin: 0 auto; }*/
.max-width:after { content: ""; display: table; clear: both; }
.contact-box { float: left; width: 35%; /*margin-left:0%;*/ }	
.group:after { content: ""; display: table; clear: both; }

 
.email { float: left; margin: 6px 0;  font-family:'Roboto', sans-serif; font-size:15px; !important }
/*.email { float: left; margin: 6px 0; color: #00ccff; font-family:'Roboto', sans-serif; font-size:15px; !important }*/
/*.email { float: left; margin: 6px 0; color: #8cc943; font-family:'Roboto', sans-serif; font-size:15px; !important }*/

.email a { padding: 0 0 0 0px; color: #d2d4db; text-decoration: none; display: block; }
.email a:hover { color: #fff; }
.phone { float: right; margin: 6px 10px; padding: 0 0 0 6px; no-repeat 0 6px; color: #E85700; font-family:'Roboto', sans-serif; font-size:15px; !important }
/*.phone { float: right; margin: 6px 0; padding: 0 0 0 6px; no-repeat 0 6px; color: #00ccff; font-family:'Roboto', sans-serif; font-size:15px; !important }*/
/*.phone { float: right; margin: 6px 0; padding: 0 0 0 6px; no-repeat 0 6px; color: #8cc943; font-family:'Roboto', sans-serif; font-size:15px; !important }*/
.title { float: center; text-align: center; width: 100%; margin: 4px 20px; padding: 0 0 0 6px; no-repeat 0 6px; color: #E85700; font-family: 'Oswald', sans-serif; font-size:24px; font-weight: 400; }
.social-search-box { float:;  font-family:'Roboto', sans-serif; font-size:15px; !important}
.socialmarks { float: left; padding: 6px 0 6px 0; margin: 0 0 0; font-family:'Roboto', sans-serif; font-size:15px; !important }
.socialmarks li { float: left; padding: 0px 0 0px 0; margin: 0 0 0 20px; }
.socialmarks li a { display: block; height: 12px; font-size: 0; }

.socialmarks li a.twitter { width: 23px; background: url(../images/social.png) no-repeat -10px 0; }
.socialmarks li a.twitter:hover { background: url(../images/social.png) no-repeat -10px -20px; }
.socialmarks li a.skype { width: 20px; background: url(../images/social.png) no-repeat -33px 0; }
.socialmarks li a.skype:hover { background: url(../images/social.png) no-repeat -33px -20px; }
.socialmarks li a.linkedin { width: 20px; background: url(../images/social.png) no-repeat -53px 0; }
.socialmarks li a.linkedin:hover { background: url(../images/social.png) no-repeat -53px -20px; }

.search_pan { float: right; padding: 4px 0; }
.search_pan .field1 { float: left; width: 170px; height: 25px; background-color: #FFFFFF; border-right: 0; padding: 0 5px 0 5px; margin: 0; font-size: 13px; color: #888888; }
/*.search_pan .field1 { float: left; width: 273px; height: 25px; background-color: #FFFFFF; border: solid 1px #00ccff; border-right: 0; padding: 0 5px 0 5px; margin: 0; font-size: 13px; color: #888888; }*/
/*.search_pan .field1 { float: left; width: 273px; height: 25px; background-color: #FFFFFF; border: solid 1px #8cc943; border-right: 0; padding: 0 5px 0 5px; margin: 0; font-size: 13px; color: #888888; }*/

.search_pan .search_btn { float: right; font-size: 0; }
.search_pan .search_btn a { width: 35px; height: 25px; display: block; background: url(../images/search.png) center center no-repeat; }
/*.search_pan .search_btn a { width: 35px; height: 25px; display: block; background: url(../images/search.png) center center no-repeat #00ccff; }*/
/*.search_pan .search_btn a { width: 35px; height: 25px; display: block; background: url(../images/search.png) center center no-repeat #8cc943; }*/

.search_pan .search_btn a:hover { background: url(../images/search-hover.png) center center no-repeat #6b6e77; }
.mainTwo { width: 100%; height:90px; background-color:#FFFFFF; }

.nav_main { margin: 0px 0px 0px 0px; float: right; }
#menuLink { display: none; z-index: 10; }
 
/*
@media only screen and (max-width: 1169px) {

.max-width { max-width: 1000px; padding: 0 10px }

}

@media only screen and (max-width: 999px) {

.max-width { max-width: 900px; }

}


@media only screen and (max-width: 899px) {

.max-width { max-width: 768px; }
.social-search-box { max-width: 45%; }
.socialmarks { display: none; }
.nav_main { width: 100%; margin: 0; padding: 0; position: relative; float: none; }
.nav_main .nav_pan { width: 100%; display: none; overflow: hidden; top: 79px; opacity: 1; position: absolute; z-index: 9999; }
#menuLink { display: block !important; float: right; margin: 3% 4% 0 0; }
#menuLink a { display: block !important; width: 33px; height: 33px; cursor: pointer; padding: 3px; font-size: 0; background: #3a3e4a url(../images/menu.png) no-repeat 4px center; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
#menuLink a:hover { background: #3a3e4a url(../images/menu.png) no-repeat 4px center; }

}

@media only screen and (max-width: 767px) {

.max-width { max-width: 640px; }
.search_pan .field1 { width: 225px; }

}

@media only screen and (max-width: 639px) {

.max-width { max-width: 480px; }
.contact-box { float: none; margin: 0 auto; }
.social-search-box { max-width: 100%; }
.search_pan { display: table; width: 90%; padding-bottom: 10px; float:none; margin:0 auto; }
.search_pan .search_btn { float:left; }
.search_pan .field1 { width:350px; }
.sky-mega-menu li a { line-height:35px !important; background:#fff }
.sky-mega-menu li li a { line-height:20px !important; background:#fff}
#image{    float: left;        margin: 8% 0 0 1%; }
}

@media only screen and (max-width: 479px) {
.max-width { max-width: 320px; }
.email a { font-size:11px; }
.phone { font-size:11px; }
.search_pan .field1 { width:205px; }
.nav_main .nav_pan { top: 67px; }
#menuLink { margin: 4.4% 0 0 0; }

}*/


.btn-Grey-Red {
	btn.background-color: #f5f5f5 !important;
	btn.color: #E85700 !important;
}

.pagination > li > a,
.pagination > li > span {
  color: #E85700;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #E85700;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #fff;
  background-color: #E85700;
  border-color: #E85700;
}

@media only screen and (min-width:768px) and (max-width:5000px) {
.small-banner-class{ height:25vw; margin-top:9%; !important}
.small-banner-view{ font-family: "Oswald", sans-serif; font-size:48px; color:#fff; line-height:2; text-shadow:1px 2px #000; margin-top:120px; !important}
.icon-style{font-size:30px; line-height:80px; color: #C0011E; !important}
#media-banner{ background-size:cover;background-repeat:no-repeat; background-position:center center; padding:5px; max-height:calc(87.5vh - 60px);margin-top:115px  !important}
}


@media only screen and (min-width:320px) and (max-width:767px) {
#media-banner{ background-size:cover;background-repeat:no-repeat; background-position:center center; min-height:40vw; max-height:calc(87.5vh - 60px); margin-top:55px; !important}
#banner-text{font-family: "Oswald", sans-serif; font-size:1.5em; margin-top:50px; font-size:22px; color:#fff; text-shadow:1px 1px #000;!important}
#title-text{ font-size:1.8em;!important}
#soft-icon{ display:none}
.icon-style{font-size:25px; line-height:80px; color: #666; !important}


}

.dataTables_wrapper { font-size: 14px; }

/*table tr td { border-color: #ccc; }*/
 
/*#tbody tr { border-color: #000; }*/
/*table-bordered tbody tr td { border-color: #000; }*/


/*div.data-Tables_info { font-size: 12px; }*/


/*table {
  width: 100%;
  border-collapse: inherit;
  table-layout: fixed;
  text-align: center;
  font: 13px Verdana;
  border-radius: 30px;
  border-spacing: 0px;
}

table td {
  border: 1px solid #000000;
  padding: 20px;
  background: red;
  color: #ffffff;
  border-left: none;
}
table td:first-child{
  border-left: 1px solid #000000;
}
table tbody tr:first-child td:first-child {
  border-radius: 20px 0 0 0;
}

table tbody tr:first-child td:last-child {
  border-radius: 0 20px 0 0;
}*/